<?xml version="1.0" encoding="utf-8"?>
<Settings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://schemas.microsoft.com/2011/01/fabric">
   <Section Name="PowerBIActorServiceReplicatorConfig">
      <Parameter Name="ReplicatorEndpoint" Value="PowerBIActorServiceReplicatorEndpoint" />
   </Section>
   <Section Name="PowerBIActorServiceReplicatorSecurityConfig">
      <Parameter Name="CredentialType" Value="None" />
   </Section>
   <Section Name="PowerBIActorServiceLocalStoreConfig">
      <Parameter Name="MaxAsyncCommitDelayInMilliseconds" Value="100" />
      <Parameter Name="MaxVerPages" Value="32768" />
   </Section>
   <Section Name="PowerBI">
      <Parameter Name="DatesetName" Value="ServiceFabricIoTDS" />
      <Parameter Name="TableName" Value="ServiceFabricIOTTable" />
      <Parameter Name="ClientId" Value="{{Client app as defined with Azure A/D}}" />
      <Parameter Name="Username" Value="{{username xx@xx.com as defined in Azure A/D and have access to insert records on Power PI Portal}}" />
      <Parameter Name="Password" Value="{{user password}}" />
      <Parameter Name="Authority" Value="https://login.windows.net/common/oauth2/authorize/" />
      <Parameter Name="PowerBIResourceId" Value="https://analysis.windows.net/powerbi/api" />
      <Parameter Name="PowerBIBaseUrl" Value="https://api.powerbi.com/v1.0/myorg/datasets/" />
   </Section>
</Settings>