html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section { display: block; }

body { line-height: 1; font: 0.8em/1.2 Segoe UI,Arial,sans-serif; background: #333333; color: #AAAAAA; }
header { height:50px; background:#111111;}
footer { clear: both; }

/* forms */
fieldset { border: 1px solid #555555; margin: 10px 0; padding: 10px; }
input[type=text] { display: inline-block; padding: 5px; background: #333333; color: #DDDDDD; border: 1px solid #555555; }
button { display: block; width: 100px; padding: 3px; }

a, a:visited, a:hover, a:active { color: #00ABEC; }
h3 { font-size: 1.5em; font-weight: lighter; color:#FFFFFF; }
h4 { font-size: 1.3em; font-weight: lighter; color:#FFFFFF; }
h5 { font-size: 1.2em; font-weight: lighter; color:#DDDDDD; }
ul li { list-style: none; margin: 3px 0; padding: 0; }

#main { clear: both; }

#result { width: 100%; padding: 10px; height:15px; margin: 1px 0; }
.errorResult { border: 1px solid #DD0000; color: #DD0000; }
.successResult { border: 1px solid #00DD00; color: #00DD00; }

.column { float:left;  margin:0 10px;  }
.columnHeader { margin: 10px 0 }
.tile { background:#444444; margin:1px 0; padding:10px; width:350px; min-height:300px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) }
.header { margin: 0 0 15px 0; padding: 5px; width: 340px;}

.addApplication { margin: 20px 0  }
    .addApplication label { font-size: 12px; }
    .addApplication input[type=text] { width: 340px; margin: 2px 0 8px 0; }

.applicationInfo { width:330px; margin:5px 0; padding:10px; background:#222222; border: 1px solid; text-wrap: normal;  word-wrap: break-word;  }
    .applicationInfo label { display: inline-block; width: 100px; font-weight: bold; color:#DDDDDD; }
    .applicationInfo .applicationDetails { margin: 20px 0 }

/* application and service statuses */
.ready { border-color: #00ABEC; }
.creating { border-color: #D17D00; }
.active { border-color: #00ABEC; }
.upgrading { border-color: #00C69F; }
.deleting { border-color: #AAAAAA; }
