@{
    ViewData["Title"] = "Admin service";
}
<div id="main">
    <div id="result"></div>
    <div class="column">
        <h3 class="columnHeader">IoT Hub ingestion applications</h3>
        <div class="tile">
            <h4 class="header">Add ingestion application</h4>
            <div class="addApplication">
                <label>Name</label><input id="iotHubName" type="text" placeholder="example: MainHub" />
                <label>Iot Hub connection string</label><input id="iotHubConnectionString" type="text" placeholder="" />
                <label>Iot Hub partition count</label><input id="iotHubPartitionCount" type="text" placeholder="example: 2" />
                <button id="addIotHubButton">Add</button>
            </div>
        </div>
        <div class="tile">
            <h4 class="header">Running ingestion applications</h4>
            <ul id="iotHubList"></ul>
        </div>
    </div>
    <div class="column">
        <h3 class="columnHeader">Tenant applications</h3>
        <div class="tile">
            <h4 class="header">Add tenant application</h4>
            <div class="addApplication">
                <label>Name</label><input id="tenantName" type="text" placeholder="example: Contoso" />
                <label>Data service partition count</label><input id="tenantPartitionCount" type="text" placeholder="example: 2" />
                <label>Web service instance count</label><input id="tenantInstanceCount" type="text" placeholder="1 for local, -1 for Azure" />
                <button id="addTenantButton">Add</button>
            </div>
        </div>
        <div class="tile">
            <h4 class="header">Running tenant applications</h4>
            <ul id="tenantList"></ul>
        </div>

    </div>
</div>
@section scripts
{
    <script>

        $(function () {
            var path = window.location.pathname;
            var $result = $('#result')

            function last(path) {
                var s = path.split('/');
                return s[s.length - 1];
            }

            removeApplication = function (apiUrl) {
                $.ajax({
                    url: path + apiUrl,
                    method: 'DELETE'
                })
                   .done(function () {
                       $result.removeClass();
                       $result.addClass('successResult');
                       $result.html('success');
                   })
                    .error(function (error) {
                        $result.removeClass();
                        $result.addClass('errorResult');
                        $result.html(error.responseText);
                    })
            }

            refreshApplicationList = function (apiUrl, $applicationList, createDetails) {
                $.ajax({
                    url: path + apiUrl,
                    method: 'GET',
                    contentType: 'application/json',
                    dataType: 'json'
                })
                    .done(function (applications) {

                        $applicationList.html('');
                        for (var i = 0; i < applications.length; ++i) {
                            $applicationList.append(createDetails(applications[i]));
                        }
                    })
                    .error(function (error) {
                        $result.removeClass();
                        $result.addClass('errorResult');
                        $result.html('Failed to refresh info from ' + apiUrl + '. ' + error.responseText);
                    })
                    .always(function () {
                        setTimeout(function () {
                            $result.html('');
                            $result.removeClass();
                            refreshApplicationList(apiUrl, $applicationList, createDetails);
                        }, 100000);
                    });
            }

            ingestionApplicationDetails = function (application) {


                var iotHubString = '';
                for (var i = 0; i < application.applicationParameters.length; i++) {
                    if (application.applicationParameters[i].name == 'IotHubConnectionString') {
                        iotHubString = application.applicationParameters[i].value;
                    }
                }

                var deleteApiUrl = 'api/ingestion/' + last(application.applicationName);

                return '<li><div class="applicationInfo ' + application.applicationStatus.toLowerCase() + '">'
                                + '<h5>' + application.applicationName + '</h5>'
                                + '<ul class="applicationDetails">'
                                + '<li><label>Status:</label>' + application.applicationStatus + '</li>'
                                + '<li><label>Version:</label>' + application.applicationTypeVersion + '</li>'
                                + '<li><label>Iot Hub:</label>' + iotHubString + '</li>'
                                + '</ul>'
                                + '<button onclick="removeApplication(' + "'" + deleteApiUrl + "'" + ')">Remove</button>'
                                + '</div></li>'
            }

            tenantApplicationDetails = function (application) {
                var webPath = last(application.applicationName);
                var deleteApiUrl = 'api/tenants/' + last(application.applicationName);

                return '<li><div class="applicationInfo ' + application.applicationStatus.toLowerCase() + '">'
                                + '<h5>' + application.applicationName + '</h5>'
                                + '<ul class="applicationDetails">'
                                + '<li><label>Status:</label>' + application.applicationStatus + '</li>'
                                + '<li><label>Version:</label>' + application.applicationTypeVersion + '</li>'
                                + '<li><label>Web portal:</label><a href="/' + webPath + '">' + webPath + '</a></li>'
                                + '</ul>'
                                + '<button onclick="removeApplication(' + "'" + deleteApiUrl + "'" + ')">Remove</button>'
                                + '</div></li>'
            }


            $('#addIotHubButton').click(function () {
                var button = $(this);
                button.prop("disabled", true);

                $result.html('');
                $result.removeClass();

                var name = $('#iotHubName').val();
                var params = {};
                params.IotHubConnectionString = $('#iotHubConnectionString').val();
                params.PartitionCount = $('#iotHubPartitionCount').val();
                params.Version = '1.0.0';

                $.ajax({
                    url: path + 'api/ingestion/' + name,
                    method: 'POST',
                    data: JSON.stringify(params),
                    contentType: 'application/json'
                })
                .done(function () {
                    $result.removeClass();
                    $result.addClass('successResult');
                    $result.html('success');
                })
                .error(function (error) {
                    $result.removeClass();
                    $result.addClass('errorResult');
                    $result.html(error.responseText);
                })
                .always(function () {
                    button.prop("disabled", false);
                })
            });

            $('#addTenantButton').click(function () {
                var button = $(this);
                button.prop("disabled", true);

                $result.html('');
                $result.removeClass();

                var name = $('#tenantName').val();
                var params = {};
                params.DataPartitionCount = $('#tenantPartitionCount').val();
                params.WebInstanceCount = $('#tenantInstanceCount').val();
                params.Version = '1.0.0';

                $.ajax({
                    url: path + 'api/tenants/' + name,
                    method: 'POST',
                    data: JSON.stringify(params),
                    contentType: 'application/json'
                })
                .done(function () {
                    $result.removeClass();
                    $result.addClass('successResult');
                    $result.html('success');
                })
                .error(function (error) {
                    $result.removeClass();
                    $result.addClass('errorResult');
                    $result.html(error.responseText);
                })
                .always(function () {
                    button.prop("disabled", false);
                })
            });

            refreshApplicationList('api/ingestion', $('#iotHubList'), ingestionApplicationDetails);
            refreshApplicationList('api/tenants', $('#tenantList'), tenantApplicationDetails);

        });

    </script>
}