@{
    ViewData["Title"] = "Admin service";
}
<div id="main">
    <div id="result"></div>
    <div class="iotHubs">
        <h3>IoT Hub ingestion applications</h3>
        <ul id="iotHubList">
        </ul>
        <fieldset class="applicationControls">
            <legend>Add IoT Hub</legend>
            <input id="iotHubName" type="text" placeholder="Name"/>
            <input id="iotHubConnectionString" type="text" placeholder="Iot Hub connection string"/>
            <input id="iotHubPartitionCount" type="text" placeholder="Iot Hub partition count"/>
            <button id="addIotHubButton">Add</button>
        </fieldset>
    </div>
    <div class="tenants">
        <h3>Tenant applications</h3>
        <ul id="tenantList">
        </ul>
        <fieldset class="applicationControls">
            <legend>Add tenant</legend>
            <input id="tenantName" type="text" placeholder="Tenant name"/>
            <input id="tenantPartitionCount" type="text" placeholder="Data service partition count" />
            <input id="tenantInstanceCount" type="text" placeholder="Web service instance count" />
            <button id="addTenantButton">Add</button>
        </fieldset>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            var path = window.location.pathname;
            var $result = $('#result')

            $('#addIotHubButton').click(function() {
                $result.html('');
                $result.removeClass();

                var name = $('#iotHubName').val();
                var params = {};
                params.IotHubConnectionString = $('#iotHubConnectionString').val();
                params.PartitionCount = $('#iotHubPartitionCount').val();
                params.Version = '1.0.0';

                $.ajax({
                        url: path + 'api/ingestion/' + name,
                        method: 'POST',
                        data: JSON.stringify(params),
                        contentType: 'application/json',
                        dataType: 'json',
                    })
                    .done(function () {
                        $result.removeClass();
                        $result.addClass('successResult');
                        $result.html('success');
                    })
                    .error(function (error) 
                    {
                        $result.removeClass();
                        $result.addClass('errorResult');
                        $result.html(error.responseText);
                    })
            });

            $('#addTenantButton').click(function () {
                $result.html('');
                $result.removeClass();

                var name = $('#tenantName').val();
                var params = {};
                params.DataPartitionCount = $('#tenantPartitionCount').val();
                params.WebInstanceCount = $('#tenantInstanceCount').val();
                params.Version = '1.0.0';

                $.ajax({
                    url: path + 'api/tenants/' + name,
                    method: 'POST',
                    data: JSON.stringify(params),
                    contentType: 'application/json',
                    dataType: 'json',
                })
                    .done(function () {
                        $result.removeClass();
                        $result.addClass('successResult');
                        $result.html('success');
                    })
                    .error(function (error) {
                        $result.removeClass();
                        $result.addClass('errorResult');
                        $result.html(error.responseText);
                    })
            });

            function refreshApplicationList(apiUrl, $applicationList) {
                $.ajax({
                    url: path + apiUrl,
                        method: 'GET',
                        contentType: 'application/json',
                        dataType: 'json'
                    })
                    .done(function(applications) {

                        $applicationList.html('');
                        for (var i = 0; i < applications.length; ++i) {
                            $applicationList.append(
                                '<li><ul class="applicationDetails">'
                                + '<li><label>Name:</label>' + applications[i].applicationName + '</li>'
                                + '<li><label>Status:</label>' + applications[i].applicationStatus + '</li>'
                                + '<li><label>Version:</label>' + applications[i].applicationTypeVersion + '</li>'
                                + '<li><label>Parameters:</label>' + JSON.stringify(applications[i].applicationParameters) + '</li>'
                                + '</ul></li>');
                        }
                    })
                    .always(function() {
                        setTimeout(function() {
                            refreshApplicationList(apiUrl, $applicationList);
                        }, 10000);
                    });
            }

            refreshApplicationList('api/ingestion', $('#iotHubList'));
            refreshApplicationList('api/tenants', $('#tenantList'));

        });
    </script>
}