@{
    ViewData["Title"] = "Admin service";
}
<div id="main">
    <div id="result"></div>
    <div class="iotHubs">
        <h3>IoT Hub ingestion applications</h3>
        <ul id="iotHubList">
            <li>
                <ul class="iotHubDetails">
                    <li><label>Name:</label>fabric:/IoT.Ingestion/app1</li>
                    <li>
                        <label>Status:</label>
                    </li>
                    <li>
                        <label>Version:</label>
                    </li>
                    <li>
                        <label>Parameters:</label>
                    </li>
                </ul>
            </li>
        </ul>
        <fieldset class="iotHubControls">
            <legend>Add IoT Hub</legend>
            <label>Name: </label><input id="iotHubName" type="text"/>
            <label>Iot Hub connection string: </label><input id="iotHubConnectionString" type="text"/>
            <label>Iot Hub partition count: </label><input id="iotHubPartitionCount" type="text"/>
            <button id="addIotHubButton">Add</button>
        </fieldset>
    </div>
    <div class="tenants">
        <h3>Tenant applications</h3>
        <ul id="tenantList">
            <li>
                <ul class="tenantDetails">
                    <li><label>Name:</label>fabric:/IoT.Tenant/tenant1</li>
                    <li><label>Status:</label>Up</li>
                    <li><label>Version:</label>1.0.0</li>
                    <li>
                        <label>Parameters:</label>
                    </li>
                </ul>
            </li>
        </ul>
        <fieldset class="tenantControls">
            <legend>Add tenant</legend>
            <label>Name: </label><input id="tenantName" type="text"/>
            <button id="addTenantButton">Add</button>
        </fieldset>
    </div>
</div>
@section scripts
{
    <script>
        $(function() {
            var path = window.location.pathname;

            $('#addIotHubButton').click(function() {
                $('#result').html('');
                var name = $('#iotHubName').val();
                var params = {};
                params.IotHubConnectionString = $('#iotHubConnectionString').val();
                params.PartitionCount = $('#iotHubPartitionCount').val();
                params.Version = '1.0.0';

                $.ajax({
                        url: path + 'api/ingestion/' + name,
                        method: 'POST',
                        data: JSON.stringify(params),
                        contentType: 'application/json',
                        dataType: 'json',
                    })
                    .done(function() {
                        $('#result').html('success');
                    })
                    .error(function(error) {
                        $('#result').html(error);
                    })
            });

            function refreshIngestionApplicationList() {
                $.ajax({
                        url: path + 'api/ingestion',
                        method: 'GET',
                        contentType: 'application/json',
                        dataType: 'json'
                    })
                    .done(function(applications) {
                        var applicationsList = $('#iotHubList');

                        applicationsList.html('');
                        for (var i = 0; i < applications.length; ++i) {
                            applicationsList.append(
                                '<li><ul class="iotHubDetails">'
                                + '<li><label>Name:</label>' + applications[i].applicationName + '</li>'
                                + '<li><label>Status:</label>' + applications[i].applicationStatus + '</li>'
                                + '<li><label>Version:</label>' + applications[i].applicationTypeVersion + '</li>'
                                + '<li><label>Parameters:</label>' + JSON.stringify(applications[i].applicationParameters) + '</li>'
                                + '</ul></li>');
                        }
                    })
                    .always(function() {
                        setTimeout(function() {
                            refreshIngestionApplicationList();
                        }, 10000);
                    });
            }

            refreshIngestionApplicationList();

        });
    </script>
}